# ======================

# ML model (nặng)

# ======================

\*.h5

# ======================

# Database

# ======================

\*.db

# ======================

# Upload images

# ======================

saved_images/

# ======================

# Environment variables

# ======================

.env

# ======================

# Python cache

# ======================

**pycache**/
\*.pyc

# ======================

# Streamlit

# ======================

.streamlit/



# python
venv/
__pycache__/
*.pyc

